# ignore folders
week_1_basics_n_setup/2_docker_sql/__pycache__
week_1_basics_n_setup/2_docker_sql/ny_taxi_postgres_data

# ignore files
week_1_basics_n_setup/2_docker_sql/database.ini
week_1_basics_n_setup/2_docker_sql/green_tripdata_2019-10.csv.gz

.ipynb_checkpoints/
